{% extends 'base.html.twig' %}

{% block title %}GuestBook index{% endblock %}

{% block body %}
    <h1>GuestBook index</h1>
    {% set queryParams = app.request.query.all %}
    {% if queryParams %}
        {% set sort = queryParams.sort %}
        {% if sort == 'ASC' %}
            {% set sort = 'DESC' %}
        {% elseif sort == 'DESC' %}
            {% set sort = 'ASC' %}
        {% endif %}
    {% endif %}
    <div class="list-group">
        <a class="list-group-item active" href="#">Filter</a>
        <a class="list-group-item" href="{{ path('guest_book_index', {'filter':'username', 'sort': sort}) }}">Username</a>
        <a class="list-group-item" href="{{ path('guest_book_index', {'filter':'email', 'sort': sort}) }}">Email</a>
        <a class="list-group-item" href="{{ path('guest_book_index', {'filter':'createdAt', 'sort': sort}) }}">Date</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Text</th>
                <th>CreatedAt</th>
            </tr>
        </thead>
        <tbody>
        {% for guest_book in guest_books %}
            <tr>
                <td>{{ guest_book.username }}</td>
                <td>{{ guest_book.email }}</td>
                <td>{{ guest_book.text }}</td>
                <td>{{ guest_book.createdAt|date('d-m-Y') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('guest_book_new') }}">Create new</a>
{% endblock %}
